.row-fluid
  .span10.offset1
    %p
      %a{:href => '/'} &laquo back to stories

    %h2 Districts made more partisan

.row-fluid
  .span5.offset1

    %h4 Background
    %p
      Angelo "Skip" Saviano was first elected to the legislature in 1992 and had assumed a leadership position in the Republican caucus, chairing the House Republican Organization PAC. 

    %p
      His district’s population had nearly kept pace with statewide growth, meaning that there were not population pressures to expand much. Despite his role in the caucus PAC, Saviano had a reputation for being able to work with Democrats. 

    %p
      Indeed, he was one of a very few Republicans appointed by Speaker Madigan to chair a committee, leading the House Committee on Registration & Regulation for a time.

    %h4 Redistricted
    %p
      %strong
        Nonetheless, the new map put Saviano’s home into a new district that was both overwhelmingly Democratic and occupied by an incumbent Democratic legislator. 

    %p
      Faced with a nearly impossible run in his home district, Saviano decided to jump into an open district just to his north. That was a toss-up on paper, but on Election Day resulted in a victory for his Democratic opponent by five percentage points.

  .span5#map_canvas{:style => 'height: 500px'}

  - content_for :javascripts do
    = include_javascript :"http://maps.google.com/maps/api/js?sensor=false"
    %script{:src => "/javascripts/maps_lib.js", :type => "text/javascript"}

    :javascript    
      $(function() {
        MapsLib.initializeStoryMap("name IN (77, 78)", "district_2011 IN (77, 78) AND winner_incumbent = 1");
      });