.row
  .span10.offset1
    %p.lead Illinois Redistricted: Stories from the 2010 Illinois redistricting process

.row
  .span5.offset1
    %a{:href => '/minority_incumbents'}
      %img.img-polaroid{:src => '/images/demo-map.jpg'}
      %h4 Minority party incumbents put into the same district
    %p
      Three Republican incumbents got a surprise when the 2010 map came out. Their three homes were thrown into the same district.
      %a{:href => '/minority_incumbents'} Read more &raquo;

  .span5
    %a{:href => '/districts_more_partisan'}
      %img.img-polaroid{:src => '/images/demo-map.jpg'}
      %h4 Districts made more partisan
    %p
      Angelo "Skip" Saviano's home was put into a new district that was both overwhelmingly Democratic and occupied by an incumbent Democratic legislator.
      %a{:href => '/districts_more_partisan'} Read more &raquo;

.row
  .span5.offset1
    %a{:href => '/unusual_shape'}
      %img.img-polaroid{:src => '/images/demo-map.jpg'}
      %h4 An unusual shape
    %p
      One striking aspect of the current legislative map is the number of districts that radiate out from Chicago into the suburbs, stretching like fingers, or maybe strips of bacon.
      %a{:href => '/unusual_shape'} Read more &raquo;

  .span5
    %a{:href => '/my_district'}
      %img.img-polaroid{:src => '/images/my_district.jpg'}
      %h4 What happened to my district?
    %p
      Enter your address or explore a map to find out how your area was redistricted.
      %a{:href => '/my_district'} Find out &raquo;