.row-fluid
  .span10.offset1
    %p
      %a{:href => '/'} &laquo back to stories

    %h2 Minority party incumbents put into the same district

    %p
      [For an image, I see a map of the current 47th District with three pinpoints, one each for the three incumbents who lived there in 2010]

    %p
      Chris Nybo’s 41st District seat had been reliably Republican for years. Though he was a first-term legislator, his predecessor, Republican Bob Biggins, held the seat for almost 20 years. In the neighboring district, Dennis Reboletti’s 46th District had also been held by Republicans for a long time; he represented the district since 2006, after he was appointed to take former House Speaker Lee Daniels’ seat. And Patty Bellock in the 47th District had served since 1999, when her predecessor, Judy Biggert, was elected to Congress.

    %p
      The three of them got a surprise when the map came out. Their three homes were thrown into the same district. 

    %p
      Bellock ran for re-election in the district, Rebolletti ran for another House seat in a adjoining district (which is permissible only in the year following a remap) and was elected, but in 2014, Reboletti will have to move to his new district or face off against Bellock. Nybo could have run in one of several neighboring districts, but none of them were hospitable either: some of his old district would up in the 7th District, which would reliably elect a Democrat, or the 46th District, which on paper was a partisan toss up.  Instead, he chose to run for the state Senate, losing to incumbent Sen. Kirk Dillard in the primary. 