a { color: #4B58A6; }

#map_canvas img {
  max-width: none;
}

.filter-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

.map-both {color: #d95f02;}
.map-2011 {color: #1b9e77;}
.map-2001 {color: #7570b3;}

.candidate-list{
  overflow: auto;
  height: 200px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #888;
}

.accordion-heading {
  font-size: 1.2em;
}

.accordion-group {
  background-color: #fff;
}

#district-selectors{
  white-space:nowrap;
}

#district-selectors li {
  padding-right: 20px;
}